body {
	background-color: rgb(117, 117, 117);
	background-image: url(../style/avantlink-ribbon.svg);
	height: 100vh;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: Roboto;
}
button.nav-link {
	color: black;
	font-weight: bold;
}

.animated-modal {
	animation: fadeInUp 0.4s ease-out;
}

h5 {
	font-weight: bolder;
}
h6 {
	font-weight: bold;
}
.my-card {
	box-shadow: 7px 7px 5px rgb(6, 18, 128);
	transition: box-shadow 0.3s ease;
	font-size: 12pt;
}
.testcolors {
	color: rgb(103, 103, 169);
}
.my-card:hover {
	box-shadow: 10px 10px 5px;
}

#productsRow {
	margin-top: 100px;
}
#noteInputSection {
	background-color: rgb(238, 209, 45);
}
@keyframes dropIn {
	from {
		opacity: 1;
		transform: translateY(-500px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes dropOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(550px);
	}
}

/* === Card Drop Animations === */
@keyframes dropInFromTop {
	0% {
		opacity: 0;
		transform: translateY(-300px) scale(0.02);
	}
	80% {
		opacity: 1;
		transform: translateY(5px) scale(1.02);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes dropInFromBottom {
	0% {
		opacity: 0;
		transform: translateY(300px) scale(0.02);
	}
	80% {
		opacity: 1;
		transform: translateY(-5px) scale(1.02);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.card-drop-in {
	opacity: 0;
	animation: dropIn 0.8s ease-out forwards;
}
.card-drop-out {
	animation: dropOut 0.4s ease-in forwards;
}

#report_pdf {
	background-color: white;
	@page {
		size: auto;
		margin: 25mm 25mm 25mm 25mm;
	}
	@media print {
		#search,
		.printPage {
			display: none !important;
		}
	}
}
.noteBox {
	position: relative;
}
.keyBox1 {
	padding-right: 25px;
	padding-left: 25px;
}
.keyBoxIn {
	padding: 8px;
}
.noteBox .close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
}
.psuedoinvisible {
	height: 350px;
	color: white;
}
.modal-header.bg-dark .btn-close {
	filter: invert(1);
}
#report_pdf.pdf-mode {
	width: 1120px;
	max-width: unset;
	zoom: 1;
}
.container {
	border-radius: 25px;
	padding: 25px;
}

.chart-container canvas {
	max-width: 100% !important;
}

@media print {
	.keyBox {
		margin: 200px; /* Adjust the margin value as needed */
	}
}
.yoyTable td:nth-child(1),
.yoyTable th:nth-child(1),
.yoyTable td:nth-child(4),
.yoyTable th:nth-child(4),
.yoyTable td:nth-child(7),
.yoyTable th:nth-child(7),
.yoyTable td:nth-child(10),
.yoyTable th:nth-child(10),
.yoyTable td:nth-child(13),
.yoyTable th:nth-child(13),
.yoyTable td:nth-child(16),
.yoyTable th:nth-child(16),
.yoyTable td:nth-child(19),
.yoyTable th:nth-child(19) {
	border-right: 2px solid black;
}
