/* styles/TableStyles.css */
Table {
	font-size: 7pt;
}
Table.largeFont {
	font-size: 14pt;
}
Table.standard {
	font-size: 10pt;
}

.table th {
	border-top: 2px solid #000;
}
.table td {
	vertical-align: top;
	padding-bottom: 1em;
}

.table tbody tr:first-child td {
	border-top: 2px solid #000;
}
.table td.border-right {
	border-right: 2px solid rgb(0, 0, 0);
}
Table tr:last-of-type td {
	border-bottom: 2px solid rgb(23, 22, 22);
}
.table td:first-child,
.table th:first-child {
	border-left: 2px solid rgb(23, 22, 22);
}

.table td:last-child,
.table th:last-child {
	border-right: 2px solid rgb(23, 22, 22);
}
.nowrap-col {
	white-space: nowrap;
	max-width: 20%;
	overflow: hidden;
	text-overflow: ellipsis;
}
th {
	text-align: center;
	vertical-align: middle;
}

th.small-cell {
	width: 40px;
	overflow: hidden;
}
td.small-cell {
	width: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

th.name-cell {
	max-width: 70px;
	overflow: hidden;
}
td.name-cell {
	max-width: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
