image: node:16

stages:
    - deploy

pages:
    stage: deploy
    script:
        - npm install
        - npm run build
        - mv build public
    artifacts:
        paths:
            - public
    only:
        - main
